@import '../placeholder/placeholder';
@import '../functions/function';
// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background-color, $border-color,$placeholder:true) {

  $hover-color : darken($background-color,10%);
  $focus-color : darken($background-color,25%);

  $button-base-map:(
    color:$color,
    background-color:$background-color,
    border-color:$border-color
  );
  $button-hover-map:(
    color:$color,
    background-color:$hover-color,
    border-color:darken($border-color,12%)
  );
  $button-focus-map:(
    color:$color,
    background-color:$hover-color,
    border-color:$focus-color
  );
  $button-active-map:(
    color:$color,
    background-color:darken($background-color,17%),
    border-color:$focus-color
  );
  @include map-element-build($button-base-map,$placeholder);

  &:focus,
  &.focus {
    @include map-element-build($button-focus-map,$placeholder);
  }
  &:hover {
    @include map-element-build($button-hover-map,$placeholder);
  }
  &:active,
  &.active{
    @include map-element-build($button-hover-map,$placeholder);
    &:hover,
    &:focus,
    &.focus {
      @include map-element-build($button-active-map,$placeholder);
    }
  }
  &:active,
  &.active{
    @include placeholder(background-image,none);
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  $border-size-map:(
    padding : $padding-vertical $padding-horizontal,
    font-size: $font-size,
    line-height: $line-height,
    border-radius: $border-radius
  );
  @include map-element-build($border-size-map,false);
}
